header{
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.bg-dark{
    background-color: darkblue !important;
}
a{
    cursor: pointer;
}



/* # General
================================ */

body {
    font-family: "Open Sans", Helvetica, sans-serif;
  }
  
 