<div class="row d-flex">
    <div class="col-md-6 col-sm-12 left-container d-none d-md-block">
        <div class="row p-3">

            <div class="col-lg-6 p-2 d-flex row justify-content-centert" style="color: whitesmoke;">
                <h1>EZECARS</h1>
                <p>Description</p>

            </div>

        </div>
    </div>
    <div class="col-md-6 col-sm-10 m-auto loginform-main">
        <div class="m-auto loginform">
            <h1>Login</h1>
            <form class="row" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                    <!-- <small formControlName="firstName" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small> -->

                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group" *ngIf="isValid">
                    <label>Otp</label>
                    <input type="password" class="form-control" formControlName="otp" placeholder="Confirm Password">
                    <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">

                        <div *ngIf="f.otp.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.otp.errors.mustMatch">Passwords must match</div>
                    </div>

                </div>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-check">
                                <input formControlName="agree" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="exampleCheck1">Remember me </label>
                                <div *ngIf="submitted && f.agree.errors" class="invalid-feedback">
                                    <div *ngIf="f.agree.errors.required">Please accept the Terms and conditions
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col p-0">
                            <div class="form-check reset">
                                <label class="form-check-label"><a href="">Reset password?</a> </label>
                                <div *ngIf="submitted && f.agree.errors" class="invalid-feedback">
                                    <div *ngIf="f.agree.errors.required">Please accept the Terms and conditions
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button type="submit" nav-link="/home" class="w-50 btn btn-primary">Login</button>
                    <p style="line-height: 3;"> Don't have an account yet? <a href="register">Join here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>