.left-container {
  height: 100vh;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSck5xZdhK4j7WdaBNc8_-4pl8rM7__TY-o2pNk4RskXJTBoBce5BDlq_VIgqPUaRi-VOk&usqp=CAU);
  background-size: cover;
}
.logo {
  width: 90px;
  padding: 10px;
}
.form-group {
  padding: 10px;
}
.form-check {
  padding: 10px 20px;
}
.reset {
  text-align: end;
}
.invalid-feedback {
  display: block;
}
