<section id="hero" class="d-flex align-items-center section-main">
    <div class="container">
        <div class="row  pt-4 text-center">
           <h1>Contact us</h1>
           <h5>Any questions or remarks? Please let us know here!</h5>
        </div>
    </div>
</section>
<section>
    <div class="container main">
        <div class="row">
            <div class="col-md-4 col-sm-12 contact-info">
                <h4>Contact Information</h4>
                <p>
                    Fill up the form and our team will get back to you.
                </p>
                <div class="details">
                    <div class="data">
                        <i class="bi bi-telephone-fill"></i> +91 87451 01554
                    </div>
                    <div class="data">
                        <i class="bi bi-envelope-fill"></i> help@gmail.com
                    </div>
                    <div class="data">
                        <i class="bi bi-geo-alt-fill"></i> vizianagram,535216
                    </div>

                </div>
                <div class="social-icons">
                    <i class="bi bi-whatsapp"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-twitter"></i>
                </div>
            </div>
            <div class="col-md-8 contact-form">
                <div class="p-5">
                   
                    <form class="row" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="exampleInputEmail1">First Name</label>
                            <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name">
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="exampleInputPassword1">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName"
                                placeholder="Enter Last Name" required>
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="exampleInputEmail1">Phone Number</label>
                            <input type="text" class="form-control" formControlName="phoneNo" placeholder="Enter Phone Number">
                            <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                                <div *ngIf="f.phoneNo.errors.required">Phone Number is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="exampleInputPassword1">Email</label>
                            <input type="email" class="form-control" formControlName="email" 
                                 placeholder="Enter Email">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>
                        <div class="form-group w-100">
                            <label for="exampleInputPassword1">Enter your message</label>
                            <textarea type="text" rows="3" class="form-control" formControlName="message" 
                                placeholder="Enter your message"></textarea>
                         
                        </div>
                        <div class="pt-4" style="text-align: end;">
                            <button type="submit" nav-link="/home" class="w-auto btn btn-primary">Send message</button>                           
                        </div>
                     
                    </form>
        
                </div>
            </div>
        </div>
    </div>
</section>