.button-custom{
    border-radius: 15px;
    font-size: 15px;
    padding:0 10px;
}

.edit{
    background-color: gray;
    color:white;
    border:none;
}


.delete{
    background-color: rgb(175, 50, 50);
    color:white;
    border:none;

}