<div class="container p-2">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card border-secondary mb-3" style="min-width: 18rem">
        <div class="card-body text">
          <h3 class="card-title">Maruthi</h3>
          <img
            style="width: 100%; height: 100%"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-KCCgQGLL0zyEsNPwg1wVdnK3ziI_NX6tww&usqp=CAU"
          />
        </div>
        <div class="card-footer bg-transparent border-secondary">
          <div class="d-flex justify-content-between w-100">
            <p class="types d-flex justify-content-around mt-2 w-100">
              <span
                ><i class="bi bi-geo-fill"></i>&nbsp;{{ car.garetype }}</span
              >
              |
              <span><i class="bi bi-back"></i>&nbsp;{{ car.fueltype }}</span> |
              <span
                ><i class="bi bi-file-person"></i>&nbsp;{{
                  car.seater
                }}
                Seats</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div
        class="card border-secondary mb-3 text-center"
        style="min-width: 18rem"
      >
        <div class="card-header bg-transparent border-secondary">
          <b>Booking details</b>
        </div>
        <div class="card-body text-primary">
          <h5
            class="card-title"
            style="display: flex; justify-content: space-around"
          >
            12/6/2022 <i class="bi bi-arrow-right-square-fill"></i> 16/6/2022
          </h5>
          <p class="card-text">Vizag</p>
        </div>
      </div>
      <div
        class="card border-secondary mb-3 text-center"
        style="min-width: 18rem"
      >
        <div class="card-header bg-transparent border-secondary">
          <b>Pricing details</b>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p>basic fare :</p>
            <p>₹ 2500</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Delivery and pickup</p>
            <p>₹ 150</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Insurance and GST</p>
            <p>Included</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Refundable security deposit</p>
            <p>₹ 2000</p>
          </div>
        </div>
        <div class="card-footer bg-transparent border-success">
          <div class="d-flex justify-content-between">
            <p>Total</p>
            <p>₹ 2000</p>
          </div>
        </div>
      </div>
      <div
        class="card border-secondary mb-3 text-center"
        style="min-width: 18rem">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p>KMS Limit :</p>
            <p>200 KMS</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Fuel</p>
            <p>Excluded</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Extra KMS charge</p>
            <p>₹ 150</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Tolls and other charges</p>
            <p>To be paid by you</p>
          </div>
        </div>
        <div class="card-footer bg-transparent border-success mb-4">
          <a href="#" class="btn btn-success">Proceed</a>
        </div>
      </div>
    </div>
  </div>
</div>
