.left-container{
    height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHNSsic6RXmj8auZLfbCLY66qSDvJT03k3JRDF1VfC2Rdbn_QkUR8ro2ZtXl_zUmJf_cI&usqp=CAU);
    background-size: cover;
}
.logo{
    width: 90px;
    padding: 10px;
}
.form-group{
    padding: 10px;
}
.form-check{
    padding: 10px 33px ;
}
.invalid-feedback{
    display: block;
}